.row{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    /* scrollbar-width: thin;
  scrollbar-color: transparent transparent; */
}
.row:hover{
  overflow-x: scroll;
}
.row::-webkit-scrollbar {
    display: none;
  }
  
  /* .row::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
  .row::-webkit-scrollbar-track {
    background-color: transparent;
  } */
.row-div{
    height: 38vh;
    width: 12vw;
    margin: 0px 6px 0px 0;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    border-radius: 10px;
}
.row-div:hover{
    
    transform: scaleY(1.2);
    transform: scaleY(1.2);
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
.heading{
    color: white;
    font-size: 2rem;
    font-weight: normal;
    margin: 3.75rem 0 1.5rem 1.5rem;
}
/* arrow */
.arrow-icon {
  display: inline-block;
  width: 0;
  height: 0;
  background-color: black;
}
.scroll-arrow {
  display: none; 
}
.arrow-icon i{
  font-size: 40px;
  color: rgba(240, 13, 13, 0.646);
}

.section-container:hover .scroll-arrow {
  display: inline-block; 
}

.section-container {
  position: relative;
 
}

.scroll-arrow {
  position: absolute;
  top: 30%;
  width: 45px;
  height: 45px;
  cursor: pointer;
  background-color: black;
  opacity: 0.6;
  border-radius: 50%;
}


.left-arrow {
  left: 10px;
  z-index: 2
}
.left-arrow i{
  padding-left: 10px;
}
.right-arrow {
  right: 10px;
  z-index: 2
}
.right-arrow i{
  padding-left: 10px;
}


